.instructions {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
}

.eyes {
    position: absolute;
    pointer-events: none;
    height: 460px;
    width: 460px;

    fill: transparent;
    stroke: transparent;
}

.crazyEyes {
    position: absolute;
    pointer-events: none;
    height: 460px;
    width: 460px;
    fill: white;
    stroke: black;

    /*animation:spin 4s linear infinite;*/
    animation: blink 1s step-start 0.5s infinite;
}

/*@keyframes spin {*/
/*    100% {*/
/*        transform:rotate(360deg);*/
/*    }*/
/*}*/

@keyframes blink {
    50% {
        fill:red;
        filter: drop-shadow(0px 0px 5px red);
        stroke: transparent;
    }
}

.hardMode {
    position: absolute;
    height: 460px;
    width: 460px;

    fill: transparent;
    stroke: transparent;
}

.easyMode {
    position: absolute;
    height: 460px;
    width: 460px;

    fill: white;
    stroke: black;
}

.side {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 460px;
}

.modeLabel {
    padding-bottom: 1px;
}