.instructions {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
}

.eyes {
    position: absolute;
    pointer-events: none;
    height: 460px;
    width: 460px;

    fill: transparent;
    stroke: transparent;
}

.crazyEyes {
    position: absolute;
    pointer-events: none;
    height: 460px;
    width: 460px;
    fill: red;
    stroke: black;

    /*animation:spin 4s linear infinite;*/
    animation: blink 1s step-start 0s infinite;
}

/*@keyframes spin {*/
/*    100% {*/
/*        transform:rotate(360deg);*/
/*    }*/
/*}*/

@keyframes blink {
    50% {
        fill:white;
    }
}

.nose {
    position: absolute;
    height: 460px;
    width: 460px;

    fill: transparent;
    stroke: transparent;
}