.eyes {
    position: absolute;
    /*pointer-events: none;*/
    height: 460px;
    width: 460px;

    fill: white;
    stroke: black;

    /*fill: white;*/
    /*stroke: black;*/
}

.eyes:hover {
    fill: red
}