.pair0eyeOnTheLeft {
    left: 190px;
    top: 183.65px;
}

.pair0eyeOnTheRight {
    left: 241.58px;
    top: 173.02px;
}

.pair1eyeOnTheLeft {
    left: 289.333px;
    top: 224.093px;
}

.pair1eyeOnTheRight {
    left: 354.387px;
    top: 235.698px;
}

.pair2eyeOnTheLeft {
    left: 109.551px;
    top: 152.581px;
}

.pair2eyeOnTheRight {
    left: 161.669px;
    top: 139.961px;
}

.pair3eyeOnTheRight {
    left: 181.722px;
    top: 163.833px;
}

.pair4eyeOnTheLeft {
    left: 151.083px;
    top: 232.908px;
}

.pair4eyeOnTheRight {
    left: 216.833px;
    top: 234.719px;
}

